{% extends 'layout/base.html.twig' %}

{% block title %}Create Group{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.employees.groups') }}">Groups</a></li>
        <li class="breadcrumb-item active">Create</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">

            {{ form_start(form) }}
            <div class="form-group">
                {{ form_row(form.name, {'attr': {'placeholder': 'Name', 'class': 'form-control'}}) }}
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            {{ form_end(form) }}

        </div>
    </div>

{% endblock %}