{% extends 'layout/base.html.twig' %}

{% block title %}Member{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.members') }}">Membership</a></li>
        <li class="breadcrumb-item active">{{ member.name.full }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex flex-row form-group">
                <a href="{{ path('work.members.edit', {'id': member.id}) }}" class="btn btn-primary mr-2">Edit</a>
                <a href="{{ path('work.members.move', {'id': member.id}) }}" class="btn btn-primary mr-2">Move</a>
                <a href="{{ path('users.show', {'id': member.id}) }}" class="btn btn-primary mr-2">View User</a>
                {% if member.active and member.id.value != app.user.id %}
                    <form action="{{ path('work.members.archive', {'id': member.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                        <input type="hidden" name="token" value="{{ csrf_token('archive') }}" />
                        <button type="submit" class="btn btn-danger mr-2">Archive</button>
                    </form>
                {% endif %}
                {% if member.archived %}
                    <form action="{{ path('work.members.reinstate', {'id': member.id}) }}" method="post" onsubmit="return confirm('Are you sure?')">
                        <input type="hidden" name="token" value="{{ csrf_token('reinstate') }}" />
                        <button type="submit" class="btn btn-success mr-2">Reinstate</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>{{ member.name.full }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ member.email.value }}</td>
                            </tr>
                            <tr>
                                <th>Group</th>
                                <td>{{ member.group.name }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>{{ member_status(member.status.name) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}