{% extends 'layout/auth.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            {% include 'partial/_flashes.html.twig' %}
            <form method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" value="{{ last_username }}" name="email" id="inputUsername" autocomplete="username" required autofocus placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password" id="inputPassword" autocomplete="current-password" required placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember" name="_remember_me">
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </div>
                </div>
            </form>
            <div class="social-auth-links text-center mb-3">
                <p>- OR -</p>
                <a href="{{ path('connect_facebook_start') }}" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Login using Facebook
                </a>
            </div>
            <p class="mb-1">
                <a href="{{ path('auth.reset') }}">I forgot my password</a>
            </p>
            <p class="mb-0">
                <a href="{{ path('auth.signup') }}" class="text-center">Register a new membership</a>
            </p>
        </div>
    </div>
{% endblock %}
