{% extends 'layout/auth.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Register a new membership</p>
            {{ form_start(form) }}

                {% include 'partials/_flashes.html.twig' %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="input-group mb-3">
                    {{ form_widget(form.email, {'attr': {'placeholder': 'Email', 'class': 'form-control'}}) }}
                    {{ form_errors(form.email) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{ form_widget(form.password, {'attr': {'placeholder': 'Password', 'class': 'form-control'}}) }}
                    {{ form_errors(form.password) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                    </div>
                </div>

            {{ form_end(form) }}
            <div class="social-auth-links text-center mb-3">
                <p>- OR -</p>
                <a href="{{ path('connect_facebook_start') }}" class="btn btn-block btn-primary">
                    <i class="fab fa-facebook mr-2"></i> Sign up using Facebook
                </a>
            </div>
            <p class="mb-0">
                <a href="{{ path('app_login') }}" class="text-center">I have a membership</a>
            </p>
        </div>
    </div>
{% endblock %}