<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="{{ path('home') }}" class="brand-link">
        <img src="{{ asset('img/ukraine.png') }}" alt="Symfony Manager Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Symfony Manager</span>
    </a>

    <div class="sidebar">

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ asset('img/user.png') }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{{ path('profile') }}" class="d-block">{{ app.user.display }}</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                {% if is_granted('ROLE_MANAGE_USERS') %}
                    <li class="nav-item">
                        <a href="{{ path('users') }}" class="nav-link">
                            <i class="nav-icon fas fa-user-friends"></i>
                            <p>
                                Users
                            </p>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>

</aside>
